<ul >
	<li><h2><%=t('links')%></h2></li>
	<li>
	<ul id='recententries'>
		<li><%=link_to t('maps'),'http://www.multimap.com/map',:target => '_blank'%></li>
		 <li><%=link_to t('currency'),'http://www.xe.com',:target => '_blank'%></li>
		 <li><%=link_to t('timezone'),'http://www.worldtimezone.com',:target => '_blank'%></li>
		 <li><%=link_to t('postcode'),'www.codepostaux.com',:target => '_blank'%></li>
		 <li><%=link_to t('bank_holiday'),'http://www.jours-feries.com',:target => '_blank'%></li>
		 <li><%=link_to t('iata'),'http://www.iata.com',:target => '_blank'%></li>
		 <li><%=link_to t('ports'),'http://www.ports.com',:target => '_blank'%></li>
	</ul>	
		</li>  
</ul>