<div id="left">
<h2><%=t('contact_us')%></h2> 
<div id="contact_area">          
  <ul>
  <li><%=t(:ceo)%>  richardwu#youthjet.com </li>
  <li><%= t(:hai_imp_manager) %>  miaomiao#youthjet.com</li>
  <li><%= t(:hai_export_manager) %>  patric.ding#youthjet.com</li>
  <li><%= t(:air_manager) %>  jason.huang#youthjet.com </li>
  <li><%= t(:oversea_manager) %>  overseas#youthjet.com</li>
  </ul>
   <%=t('contact_info')%> 
</div>
</div>
<div id="sidebar">
    <%=render :partial => 'links'%> 
</div>
