<% content_for :header_image do %>
<div id="header">
<h2 class="introtext">
<span class="highlight2"><%=t('name')%> </span> <%=t('tell')%>
</h2>
</div>
<% end %>

<div id="aboutdiv">
<h2><%=t 'what'%></h2>
<p><span class="openquote"></span>YOUTH-JET FREIGHT CO.,LTD is an A-Class freight forwarding and logistics company in the China ,registered capital USD 880,000.00, providing its customers with a professional, personal service for the shipments of freight worldwide.
<img src="images/quote2.gif" alt="Closing Quote" /></p>
</div>
<div id="highlights">
  <h2><%=t('news')%></h2>
<ul>
<li><h3><a href="#">Lorem Ipsum</a></h3>
Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Integer ac orci. Vestibulum rutrum. Praesent a lectus. 
</li>
<li><h3><a href="#">Lorem Ipsum</a></h3>
Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Integer ac orci. Vestibulum rutrum. Praesent a lectus. 
</li>
<li><h3><a href="#">Lorem Ipsum</a></h3>
Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Integer ac orci. Vestibulum rutrum. Praesent a lectus. 
</li>

</ul>

</div>
<div id="homecontents"> 
<h2><a href="#"><%= t('about')%></a></h2>
<span class="postinfo">Profile</span>  
<%= render :comatose => '' %>
</div>