<div id="left">
<h2><a href="#"><%= t :service %></a></h2>
<h3><%=t('s_1')%></h3>
<p>
<img src="/images/air.gif" align='left' /> The Competitive Air-rates From Overseas Main Airports 
Picking Handling Service
Customs Clearance Services   
Bonded Warehouse Storage Service   
General Warehousing & Distribution Service
Door/Door Delivery Service (Ex-work) <br />
The Advantaged Traffics From PVG-airports Of N.America, Europe, S.East Asia, Mid-east 
Customs Clearance Services   
Bonded Warehouse Storage Service   
Trucking Service
Door/Door Delivery Service (DDU,DDP)
</p>  
<h3><%=t('s_2')%></h3>
<p>
	<img src="/images/container.gif" align='left' />Consol  Box/Customs Clearance/Global Transporting Insurance <br />  
	LCL/LCL 
	 FCL/FCL
	 Port-Port
	 Door-Door
Advantaged Routes To Ports Of Europe, N&S America,Mid-east
	S.East Asia <br />Open Top/Flat Racks
	Refrigerated Containers
	
</p>
<h3><%=t('s_3')%></h3> 
<p>
<img src="/images/sea.gif" align='left' />Special Bonded Warehouse storage
  Warehousing 
  Distribution,LCL/LCL,FCL/ FCLShipments  
   Port –Port/Door-door Service,Transport Insurance,Customs
Clearance Service,Open Top/FlatRacks/Refrigerated Containers,Import Deconsolidation Services 
 Tracking And Tracing 
</p>    
<h3><%=t('s_4')%></h3>
<p>
<img src="/images/bulk2.gif" align='left' /><strong>BREAK BULK 
CARGO EXPORT</strong> <br />
Export To Mid-    east ,Africa,s.East        Asia
   (Large-sized   Equipment, Steel,Stock Tanks) 
</p>   

<h3><%=t('s_5')%></h3>
<p>
	<img src="/images/bulk.gif" align='left' /> 
<strong>	RO/RO IMPORT
	EXPORT BIZ   </strong> <br /> 
	Export To Mid-east,africa,europe
	 Import From Europe
	    (Various Vehicles:
	bus ,Heavy Trucks
	Cars, Engineering Vehicles)
</p>
<h3><%=t('s_6')%></h3> 
<p>
	<img src="/images/wgq.gif" align='left' />
	<ul>
		<li>Customs Declaration</li>
		 <li>Distribution</li>
		 <li>Management</li> 
		<li>      Warehousing Service
		VMI</li> 
	 </ul>
</p>
<h3><%=t('s_7')%></h3>
<p>
	<img src="/images/overland1.gif" align='left' />
	Domestic Overland Services,Part And Full Truck Loads<br />
	Eastern China Trucking Services,Storage Warehousing Distribution<br />
	Customs Clearance Services,Nationwide Transport Insurance Services
</p>       

</div>
<div id="sidebar">

</div>
