<div id="left">  
<h2><%=t('s_1')%></h2>
<p><%=t('s_1_text')%></p> 
<h3><%=t('t_1_import')%></h3>    
<img src="/images/airport.gif" align='left' class='alignright' />   
<p><%=t('s_1_import_text')%> </p>
<h3><%=t('s_1_export')%></h3>    
 <img src="/images/air.gif" align='left' class='alignright' />      
<p><%=t('s_1_export_text')%>  </p>  
<p></p>
<h2><%=t('s_sea')%></h2>
<p><%=t('s_sea_text')%></p>  
<h3><%=t('s_2')%></h3> 
<img src="/images/container.gif" align='left' class='alignright'/>
<p>
<%=t('s_2_text')%>  
</p>
<h3><%=t('s_3')%></h3>
<img src="/images/sea.gif" align='left' class='alignright' />  
<p>
<%=t('s_3_text')%>
</p>    
<h3><%=t('s_4')%></h3>
<img src="/images/bulk2.gif" align='left' class='alignright'/>
<p>
<%=t('s_4_text')%>   
</p>   

<h3><%=t('s_5')%></h3>
<img src="/images/bulk.gif" class='alignright'/>
	<p> 
<%=t('s_5_text')%>   
</p>
<h3><%=t('s_6')%></h3> 
<img src="/images/wgq.gif"  class='alignright' /> 
<p>
<%=t('s_6_text')%>  
</p>
<h3><%=t('s_7')%></h3>
<img src="/images/overland1.gif"  class='alignright' />
<p>
<%=t('s_7_text')%>  
</p>        
</div>
<div id="sidebar">
    <%=render :partial => 'links'%> 
</div>
