<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>SHANGHAI YOUTH-JET  FREIGHT CO.,LTD</title>
<%= stylesheet_link_tag 'style.css' %>
</head>

<body>
<div id="topbar">
<div id="TopSection">
<%=image_tag("logo.jpg",:class => 'logo')%><h1 id="sitename"><%=link_to t('full_name'),root_path%></h1> 
<div id="topbarnav"> <span class="topnavitems"> <%=link_to '中文',root_cn_path%> | <%=link_to 'English', root_en_path %></span></div> 
<div class="clear"></div>
<ul id="topmenu">
<li class="active"><%=link_to t('home'),root_path %></a></li>
<li><%=link_to t('service'),services_path %></li>
<li><%=link_to t('consulting'),consulting_path %></li>
<li><%=link_to t('network'),network_path %></li>
<li><%=link_to t('partner'),partner_path %></li>
<li><%=link_to t('contact'),contact_path %></li>
</ul>
</div>
</div>
<div id="achivment">
  <%= image_tag("fifa.jpg") %><br />  <%= image_tag("haiyun_logo.jpg") %><br /> <%= image_tag("wenzhou.jpg") %>
</div>
<div id="wrap">  
<%= yield :header_image %>
<div id="contents">
<div class="clear"></div> 
 
	<%= yield %> 

<div class="clear"></div>

</div>

</div>
<div id="footer">
<div id="footercontent">
<div id="previews">
<div class="item">
  <a href="#"><img src="/images/bulk.gif" alt="Photo 1" /></a>
  <span class="caption"><%= t('s_5')%></span>
  </div>
  <div class="item">
  <a href="#"><img src="/images/air.gif" alt="Photo 1" /></a>  <span class="caption"><%= t('s_1')%></span>
</div>
  <div class="item">
  <a href="#"><img src="/images/bulk2.gif" alt="Photo 1" /></a>  <span class="caption"><%=t('s_4')%></span>
</div>
  <div class="item">
  <a href="#"><img src="/images/overland2.gif" alt="Photo 1" /></a>  <span class="caption"><%= t('s_7')%></span>
</div>
  <div class="item">
  <a href="#"><img src="/images/container.gif" alt="Photo 1" /></a>  <span class="caption"><%=t('s_2')%></span>
</div>
  <div class="item">
  <a href="#"><img src="/images/ship.gif" alt="Photo 1" /></a>  <span class="caption"><%=t('s_3')%></span>
</div>
  <div class="item">
  <a href="#"><img src="/images/map.gif" alt="Photo 1" /></a>  <span class="caption"><%=t('s_8')%></span>
</div>     
</div>
<div class="clear"></div>
<div id="credit">    
  © 2007-2009 www.youthjet.com. All rights reserved<br />
  <%=link_to '沪ICP备10010832号','http://www.miibeian.gov.cn/',:target => '_blank' %>      
</div>

</body>
</html>